.app {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    /* Uniform padding on all sides */
    background-color: #1E154B;
    /* color: #FFFFFF; */
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    /* Include padding in the width and height */
    height: 100vh;
    width: 100vw;
    /* Full screen height */
    overflow-x: hidden;
    overflow-y: auto;
    /* Hide overflow */
}

.app-main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    color: #FFFFFF;
    flex: 1;
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: left;
}

.subtitle {
    color: #FFFFFF;
    flex: 1;
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

.logout {
    color: #FFFFFF;
    flex: 0;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: right;
}

.user {
    color: #FFFFFF;
    flex: 1;
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align: right;
}

.sections-container {
    display: flex;
    flex-direction: row;
    width: 96vw;
    gap: 2rem;
    flex: 1;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.user-library {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* Allow both sections to grow equally */
    padding: 1rem;
    background-color: #735AF5;
    color: #FFFFFF;
    border-radius: 8px;
    /* Rounded corners for sections */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* Allow both sections to grow equally */
    padding: 1rem;
    background-color: #735AF5;
    border-radius: 8px;
    /* Rounded corners for sections */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

h2 {
    color: #FF5F3B;
    /* Updated color for section headers */
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* Remove default margin */
}

li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #FFFFFF;
}

li:last-child {
    border-bottom: none;
}

/* Form styling */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* Space between form elements */
}

.form-controls {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: #000000;
}

/* Multi-line textarea styling */
.search-area textarea {
    height: 4.5rem;
    /* Space for three lines of text */
    resize: none;
    /* Disable resizing */
    border-radius: 5px;
    /* Rounded corners for textarea */
}

.rank {
    background-color: red
}

/* Adjust form elements to align in one row */
.form-controls>* {
    flex-grow: 1;
    /* Each child will take equal space */
    margin: 0;
    /* Remove default margin for alignment */
    border-radius: 8px;
    /* Rounded corners for inputs and button */
}

.search-area button {
    flex-grow: 0;
    /* Prevent the button from growing */
    padding: 0.5rem 1rem;
    /* Padding for the button */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sections-container {
        flex-direction: column;
    }

    .user-library,
    .search-area {
        width: auto;
        height: auto;
    }
}